.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 350px;
	margin: 0 auto;
}

.form h3 {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}

.switch {
	/* margin: 0 auto; */
	/* text-align: center; */
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 40px 0;
	font-size: 20px;
	margin-bottom: 30px;
}

.title {
	text-align: center;
	padding-top: 30px;
	font-size: 40px;
	margin-bottom: 30px;
}