@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body,
#__next,
.app {
  height: 100%;
}

button,
input,
textarea {
  display: block;
  background-color: transparent;
  font: inherit;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}

.MuiDateCalendar-root {
	margin: 0 !important;
}

.MuiFormControl-root {
  margin: 0 !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  /* font-size: 14px !important; */
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0 7px !important;
}